.header{
    height: 134px;
    background-color:#EDF2EC;
    margin: 0;
}

.logoHeader{
    padding-top: 52px;
    padding-left: 111px;
    padding-top: 61px;
}

.plantsAvatarHeader{
    float: left;
    width: 20px;
    height: 20px;
    left: 111px;
    top: 52px;

}

.plantsTextHeader{
    width: 58.13px;
    height: 17px;
    left: 132.05px;
    top: 56.04px;
    float: left;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

}

.nav{
    float: right;
    width: 452px;
    height: 50px;
    left: 879px;
    top: 42px;
    padding-right: 20px;
}

.navMenu{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}

li {
    display: inline; 
    padding: 6px;
}

.homeHeader{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}

.welcome{
    height: 532px;
    background-color:#EDF2EC;
}

.welcomeSection{
    position: absolute;
    width: 549px;
    height: 340px;
    left: 782px;
    top: 90px;
}

.plantsGreen{
    color: #499A18;
}

.welcomeTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    padding-top: 98px;
    color: #717171;
}

.welcomeText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.welcomeButton{
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.leafs{
    padding-top: 62px;
    padding-left: 109px;
}

.about{
    background-color:#FFFFFF;
    height: 666px;
}

.houseplant{
    width: 1222px;
    height: 479px;
    left: 109px;
    top: 93px;
}

.aboutAvatar{
    position: absolute;
    width: 464px;
    height: 470px;
    margin-top: 93px;
    left: 950px;
}

.aboutText{
    width: 605px;
    height: 350px;
    left: 109px;
    top: 161px;
    padding-top: 161px;
    padding-left: 109px;
}

.aboutHeader1{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.orange{
    color: #E06733;
}

.aboutParagraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.service{
    background-color:#EDF2EC;
}

.price{
    background-color:#FFFFFF;
}

.contacts{
    background-color:#EDF2EC;
}

.footer{
    background-color:#FFFFFF;
}