.header{
    height: 134px;
    background-color:#EDF2EC;
    margin: 0;
}

.logoHeader{
    padding-top: 52px;
    padding-left: 111px;
    padding-top: 61px;
}

.plantsAvatarHeader{
    float: left;
    width: 20px;
    height: 20px;
    left: 111px;
    top: 52px;

}

.plantsTextHeader{
    width: 58.13px;
    height: 17px;
    left: 132.05px;
    top: 56.04px;
    float: left;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

}

.nav{
    float: right;
    width: 452px;
    height: 50px;
    left: 879px;
    top: 42px;
    padding-right: 20px;
}

.navConteiner li {
    text-decoration: none;
    list-style: none;
    display: inline; 
    padding: 6px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
}

li{
    display: inline-block;
}

.homeHeader{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}

.welcome{
    height: 532px;
    background-color:#EDF2EC;
}

.welcomeSection{
    position: absolute;
    width: 549px;
    height: 340px;
    left: 782px;
    top: 90px;
}

.plantsGreen{
    color: #499A18;
}

.welcomeTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    padding-top: 98px;
    color: #717171;
}

.welcomeText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.welcomeButton{
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.leafs{
    padding-top: 62px;
    padding-left: 109px;
}

.about{
    background-color:#FFFFFF;
    height: 666px;
}

.houseplant{
    width: 1222px;
    height: 479px;
    left: 109px;
    top: 93px;
}

.aboutAvatar{
    position: absolute;
    width: 464px;
    height: 470px;
    margin-top: 93px;
    left: 950px;
}

.aboutText{
    width: 605px;
    height: 350px;
    left: 109px;
    top: 161px;
    padding-top: 161px;
    padding-left: 109px;
}

.aboutHeader1{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.orange{
    color: #E06733;
}

.aboutParagraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.service{
    background-color:#EDF2EC;
    height: 1300px;
}

.serviceHeader1{
    width: 406px;
    height: 94px;
}

.serviceHeader2{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding-top: 40px;
    padding-left: 109px;
}

.serviceButton{
    width: 659px;
    height: 50px;
    float: right;
    padding-right: 354px;
}

label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.serviceButton button{
    width: 170px;
    height: 50px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-right: 38px;
}


.serviceContent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 220px;
    padding-bottom: 121px;

}

.serviceContent h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    text-align: center;
}

.serviceContent p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    text-align: center;
}

.gardensBtn{
    width: 81px;
    height: 26px;
    left: 597px;
    top: 81px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
}

.price{
    background-color:#FFFFFF;
    width: 100%;
    height: 560px;
}

.priceMenu{
    width: 332px;
    height: 391.01px;
}

.prices{
    height: 282px;
    width: 400px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin-left: 109px;
    text-align: center;
    padding-top: 34px;
}   

.radio{
    width: 300px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    margin-left: 45px;
    margin-bottom: 32px;
}

.priceMenuHeader{
    padding-top: 40px;
    padding-left: 109px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.connectionTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}

.spanGardeners{
    color: #499A18;
}

.connection{
    float: right;
    width: 502px;
    height: 191px;
    margin-right: 109px;
    text-align: center;
}


.contactUs{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    box-sizing: border-box;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.picture{
    padding-bottom: 115px;
    padding-left: 1279px;
}


.contacts{
    background-color:#EDF2EC;
    height: 550px;
    width: 100%;
}

.contactsHeader1{
    position: absolute;
    padding-left: 700px;
    padding-top: 40px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.contactWoman{
    width: 400px;
    height: 496px;
    padding-left: 109px;
    padding-top: 53px;
}

.city{
    margin-right: 120px;
    float: right;
    text-align: right;
}

.cityInput{
    width: 400px;
    height: 30px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(97, 94, 94, 0);
    border-radius: 0px;
}

.footer{
    background-color:#FFFFFF;
}

.footerContainer{
    height: 130px;
}

.gitHubContainer{
    height: 50px;
    width: 320px;
    padding-top: 40px;
    padding-right: 109px;
    padding-bottom: 40px;
}

.gitHub{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin-left: 109px;
    text-align: left;

}

.rssContainer{
    height: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.rss{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.links{
    width: 200px;
    height: 50px;
    text-align: right;
    float: right;
    margin-right: 110px;
    vertical-align: middle;
}
